body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: black
}

#page {
    background-color: antiquewhite;
}

.titleLink {
    background-color: rgb(115, 170, 218);
    padding: 5;
}

article {
    background-color: rgb(224, 240, 255);
    padding: 5;
}